html {
    background-color: antiquewhite;
    background-image: url("E:\PERSONAL STUDIES\html projects\fl2.png");
}
html
body {
    margin: 0;
    padding: 0;
}
    
.main-header {
    background-color: aqua;
    background-image: url("E:\PERSONAL STUDIES\html projects\fl 5.png");
    background-size: cover;
    padding-bottom: 30px;
}
.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: hsl(34, 68%, 56%);
}

.content-section {
     margin: 1em;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
}


  